body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

video {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    white-space: nowrap;
    font-size: 16px;
    min-width: 150px;
    cursor: pointer;
}

#infoBox {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    justify-content: center;
    min-height: 100px;
}

#heading {
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.text-group {
    display: flex;
    width: 640px;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.button-group {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-group button.active {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #3e8e41;
}